.button{
    -fx-background-color: none;
    -fx-font-family: sans-serif;
    -fx-font-size: 14pt;

}
.button:hover{
    -fx-text-fill: red;
    -fx-cursor: hand;
}
.button:focused{
    -fx-text-fill: red;
}

.labelUsername{
    -fx-text-fill: #1089ff;
    -fx-font-family: "sans-serif";
    -fx-font-size: 12pt;
}

.buttonProfile{
    -fx-background-color: none;
    -fx-font-family: sans-serif;
    -fx-font-size: 14pt;
    -fx-graphic: url("../image/AdminPanel/userAdmin.png");

}
.buttonProfile:hover{
    -fx-text-fill: red;
    -fx-cursor: hand;
    -fx-graphic: url("../image/AdminPanel/userAdminHover.png");
}
.buttonProfile:focused{
    -fx-text-fill: red;
    -fx-graphic: url("../image/AdminPanel/userAdminHover.png");
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #dddddd;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #9e9e9e;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar{
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
    -fx-background-color: transparent;
}

.labelUser{
    -fx-font-family: "Franklin Gothic Medium Cond";
    -fx-font-size: 14;
    -fx-text-fill: #bdbdbd;
}

.labelUsernameInProfile{
    -fx-font-family: "Franklin Gothic Medium Cond";
    -fx-font-size: 20;
    -fx-text-fill: #868686;
}

.binImage{
    -fx-image: url("../image/AdminPanel/recybin.png");
}

.binImage:hover{
    -fx-image: url("../image/AdminPanel/recybinHover.png");
    -fx-cursor: hand;
}

.editImage{
    -fx-image: url("../image/edit.png");
}

.editImage:hover{
    -fx-image: url("../image/editHover.png");
    -fx-cursor: hand;
}

.imageViewPlus{
    -fx-image: url("../image/plus.png");
}
 .imageViewPlus:hover{
     -fx-image: url("../image/plusHover.png");
     -fx-cursor: hand;
 }

.hbox{
-fx-border-width: 1px;
-fx-border-color: #e2e2e2;
}

.hbox:hover{
    -fx-background-color: #f1f1f1;
}

.hboxTitle{
    -fx-border-width: 1px;
    -fx-border-color: #e2e2e2;
    -fx-background-color: #eaeaea;
}

.imageViewRecy{
    -fx-image: url("../image/recy.png");
}

.imageViewRecy:hover{
    -fx-image: url("../image/recyHover.png");
    -fx-cursor: hand;
}

.labelForDiscount{
    -fx-font-family: "Franklin Gothic Medium Cond";
    -fx-font-size: 20;
    -fx-text-fill: #868686;
}
