
#pane {
    -fx-background-color: #f5f5f5;
}

.buttonLogin {
    /*-fx-graphic: url("../image/exit.png");*/
    -fx-background-color: none;
}

.buttonExit {
    -fx-background-image: url("../image/exit.png");
    -fx-background-color: none;
    -fx-background-size: 20px 20px;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-background-repeat: no-repeat;
}

.buttonExit:hover {
    -fx-background-image: url("../image/exithover.png");
}

.buttonMinimize {
    -fx-background-image: url("../image/minimize.png");
    -fx-background-color: none;
    -fx-background-size: 20px 20px;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-background-repeat: no-repeat;
}

.buttonMinimize:hover {
    -fx-background-image: url("../image/minimizehover.png");
}

.logo {
    -fx-image: url("../image/logo.png");

}

.logo:hover {
    -fx-image: url("../image/logohover.png");

}

.header {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 15, 0, 0, 0)
}

.buttonAccount {
    -fx-background-image: url("../image/accountLogin.png");
    -fx-background-color: none;
    -fx-background-size: 89px 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 89px;
    -fx-background-repeat: no-repeat;
}

.buttonAccount:hover {
    -fx-background-image: url("../image/accounthover.png");
}

.buttonCart {
    -fx-background-image: url("../image/cart.png");
    -fx-background-color: none;
    -fx-background-size: 48px 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 48px;
    -fx-background-repeat: no-repeat;

}

.buttonCart:hover {
    -fx-background-image: url("../image/carthover.png");
}

.hbox {
    -fx-background-color: #ffff;
}

.hbox:hover {
    -fx-background-color: blue;
}

.buttonSort {
    -fx-background-color: none;
    -fx-font-family: sans-serif;
    -fx-font-size: 12pt;
    -fx-background-radius: 10;
}

.buttonSort:hover {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: #131313;
    -fx-cursor: hand;
}

.buttonSort-select {
    -fx-background-color: #1089ff;
    -fx-text-fill: #ffffff;
}

.buttonSort-select:hover {
    -fx-background-color: #1089ff;
    -fx-text-fill: #ffffff;
}

.userButton {
    -fx-background-image: url("../image/userBtn.png");
    -fx-background-color: none;
    -fx-background-size: 52px 35px;
    -fx-pref-height: 35px;
    -fx-pref-width: 52px;
    -fx-background-repeat: no-repeat;
}

.userButton:hover {
    -fx-background-image: url("../image/userBtnhover.png");
}


.popupUser {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, #828282, 8, 0.0001, 0, 0);
}

.labelUsername {
    -fx-font-family: "sans-serif";
    -fx-font-size: 12pt;
}

.logoutBtn {
    -fx-font-family: sans-serif;
    -fx-background-color: white;
    -fx-background-radius: none;
    -fx-font-size: 12pt;
    -fx-graphic: url("../image/test.png");
}

.logoutBtn:hover {

    -fx-background-color: #efefef;
}

.accountPageBtn {
    -fx-font-family: sans-serif;
    -fx-background-color: white;
    -fx-background-radius: none;
    -fx-font-size: 12pt;
    -fx-graphic: url("../image/test2.png");
}

.accountPageBtn:hover {
    -fx-background-color: #efefef;
    -fx-background-radius: none;
}

.imageViewForUsername{

}

.shape{
    -fx-fill:#efefef ;
}